<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
</head>
<body>
  <h1>404 Error!</h1>
  <h2>The page you are looking could not be found.</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos repellat necessitatibus ea quis perspiciatis. Cumque nihil alias eveniet odio ratione deserunt voluptatibus mollitia, soluta laborum suscipit rem! Rem, delectus. Beatae.</p>
  <a href="{% url 'school:home' %}">Go to Home Page</a>
</body>
</html>