{% extends 'base.html' %}


{% block title %}
  Enrollment
{% endblock title %}
  {% load static %}

{% block content %}
  <section>
    <h2 class="text-center p-3" >Students currently enrolled</h2>
    <table border="2" class="p-4">
      <tbody>
        <thead>
          <tr>
            <th>Date Registered</th>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Grade</th>
            <th>Profile</th>

          </tr>
        </thead>
        {% for student  in  students %}
        <tr>
          <td>{{ student.date_registered }}</td>
          <td>{{ student.admin_number }}</td>
          <td>{{ student.user.first_name }}</td>
          <td>{{ student.user.last_name }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.grade_admitted }}</td>
          <td><img src="{{ student.profile_picture }}" alt="Profile"></td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
  
  </section>
{% endblock content %}
  