{% extends 'base.html' %}


{% block title %}
  Our History
{% endblock title %}
  

{% block content %}
  <section class="conatainer-fluid">
    <p class="p-3 px-5"><strong>This school was set up in 1990 by His Excellency A.K.A</strong> . Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium minima distinctio, nam reiciendis alias non nobis quod id quibusdam autem natus quisquam doloremque molestiae reprehenderit eum totam nihil voluptate officia.</p>

    <p class="p-2 px-5" ><strong>It been doing well and it recorde  a high number of the people in our communities and country-wide in the year 2012</strong>. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum dolore doloribus similique nisi asperiores sint quasi perspiciatis a voluptates facere suscipit, sit, recusandae sed hic, laborum voluptate necessitatibus dolorum quaerat!</p>
  </section>
{% endblock content %}
  