
{% extends 'base.html' %}


{% block title %}
Home Page
{% endblock title %}
  

{% block content %}
  <section class="home">
    <h1>Welcome to our ABCD Primary School.</h1>
    <p><strong>ABCD Primary School </strong> is committed to nurturing young minds through a holistic education that fosters academic excellence, personal growth, and a deep appreciation for Kenyan culture and heritage. We believe in creating a safe, supportive, and inclusive learning environment where every child is valued and encouraged to reach their full potential. Our philosophy is grounded in the principles of:</p>
  </section>
{% endblock content %}
  