{% extends 'base.html' %}


{% block title %}
  Staff login
{% endblock title %}
  

{% block content %}
<h1 class="text-center lg">Welcome to Staff Login Page.</h1>
<p>Please login to access your account</p>
<form action="{% url 'school:staff_login' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required placeholder="******">
  </div>
  <button type="submit" >Login</button>
  {{ error_message }}
  <p class="text-center-text-sm">Don't have an account? <a href="{% url 'school:staff_registration' %}">Register</a></p>
</form>
</section>
{% endblock content %}
  