{% extends 'base.html' %}


{% block title %}
  Student Registration
{% endblock title %}
  

{% block content %}
<section>
  <h1 class="text-center lg">Welcome to our Admissions.</h1>
  <p>Please fill in all the required fields for you to be registerd in our database.</p>
  <div class="form">
    <form action="{% url 'school:student_registration' %}" method="post">
      {% csrf_token %}
      {{form }}
      <button class="btn primary lg text-center" type="submit">Register</button>
  </form>
  </div>
</section>
{% endblock content %}
  