{% extends 'base.html' %}


{% block title %}
  Student Login
{% endblock title %}
  

{% block content %}
<section class="container">
  <h1 class="text-center lg">Welcome to our Admissions.</h1>
  <p>Please login to access your account</p>
  <div class="form">
    <form action="{% url 'school:student_login' %}" method="post">
      {% csrf_token %}
      {{form}}
      <button type="submit" >Login</button>
  {% endif %}
    <p class="text-center-text-lg">Don't have an account? <a href="{% url 'school:student_registration' %}">Register</a></p>
  </div>
</section>
{% endblock content %}
  