{% extends 'base.html' %}

{% block title %}
  TEST
{% endblock title %}
  

{% block content %}
  <div class="bg-success">
    <h1 class=" bg-primary">
      Hellow set up was successful
    </h1>
    <p class="btn btn-secondary  m-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis magnam omnis unde pariatur harum placeat vel tenetur officia, necessitatibus laborum. Odio, voluptatibus. Natus, obcaecati ab consectetur aspernatur aliquid commodi!</p>

    <p class="text-xl-lg bg-info text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolor officia nulla illum ad necessitatibus eveniet laboriosam nihil temporibus unde ratione quia, debitis iure sed in? Voluptatibus consequuntur fugiat obcaecati!</p>
  </div>
{% endblock content %}
  