{% extends 'base.html' %}


{% block title %}
  Core Values
{% endblock title %}
  
{% block navigation %}
  Core Values
{% endblock navigation %}

{% block content %}
  <section class="container">
    <div>
      <p><strong>Respect</strong>Treat others with kindness and consideration. Respecting others means being polite, listening attentively, and valuing their feelings and opinions.</p>
    </div>
    <div>
      <p><strong>Honesty</strong>Tell the truth always.Honesty is about being truthful in your words and actions. It builds trust and helps maintain strong relationships.</p>
    </div>
    <div>
      <p><strong>Kindness</strong>Be helpful and caring towards others.Kindness involves being considerate, compassionate, and willing to help those in need.</p>
    </div>
    <div>
      <p><strong>Perseverance</strong>Keep trying even when things are difficult.
        Explanation: Perseverance is about being determined and not giving up easily. It helps us overcome challenges and achieve our goals.</p>
    </div>
    <div>
      <p><strong>Friendship</strong>Build strong and positive relationships with others.
        Explanation: Friendship involves being loyal, supportive, and trustworthy. It helps us feel connected and cared for.</p>
    </div>
  </section>
{% endblock content %}
  