{% extends 'base.html' %}


{% block title %}
  Vision and mission Statements
{% endblock title %}
  

{% block content %}
<section class="container">
  <div>
    <h class="text-cnter text-lg">Vision Statement</h>
  <p class="text-center text-lg">Empowering individuals to reach their full potential. </p>
  </div>
  <div>
    <h class="text-cnter text-lg">Mission Statement</h>
  <p class="text-center text-lg">To empower communities through education and opportunity.</p>
  </div>
</section>

{% endblock content %}
  